/* Image de fond pour les écrans étroits */
@media (min-width:390px) and (max-width: 810px) {

* {
  margin: 0;
  padding: 0;
}


nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  font-size: 6vmin;
}

.lettreRose {
  color: #b5838d;
}

.barreNav a {
  color: #7c898b;

}


body {
    
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url(../images/backgroundMobile.png) no-repeat center center;
  background-size: cover;
  color: #7c898b;
}

  


#logoTaudis {

  width: 70vmin;
  
  text-align: center;
}



.btn-contact {
  padding: 4px 8px;
  margin: 30px;
  border-radius: 12px;
  background-color: #b5838d;
  border: none;
  color: #efefef;
 font-weight: 600;
 text-decoration: none;

}

li {
  padding: 8px;
}

header {
  
  justify-content: space-between;
  padding-top: 16px;
  
  margin-right: 8px;
}

.head{
  display: flex;
  justify-content: space-between;
  
}
.logo {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;

}


.social-icons img {
  width: 10vmin;
  margin-bottom: 12px;
  
}
.social-icons {
  display: flex;
  flex-direction: column;

  margin-top: 94px;
}

.barreNav {
  font-size: 6vmin;
  text-align: center;
  margin-top: 60px;
  margin-right: 40px;
  margin-left: 84px;
  font-size: 24px;
  font-weight: 500;
}

#citation {
  width: 50px;
  position: absolute;
  
  
}

p {
 text-align: center;
  font-size: 3vmin;  
  color: #7c898b;
 
margin-left: 8px;
;}

footer {
  
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  


    /* API METEO */
     
  .first-line {
      display: flex;
  
   
  }
  
  .second-line {
      display: flex;
      margin-left: 7px;
     
      
     
  }
  #desc{
      
      font-size: 3vw;
      margin-left: 10px;
  }
  
  #icon{
     
     min-width: 40px;
  
     
  }
  #city{
      font-size: 4vw;
     
  }
  #temp{
      font-size: 3vw;
  }

   h2{
    align-self: center;
    color: #7c898b;
    margin-left: 15px;
    
    
   }

  /* FIN API METEO */
  

  /* EFFET HOVER */
  .btn-contact:hover {   
 transform: scale(1.2);
  }
    .Nav:hover {
    /* Ajoutez ici les styles que vous voulez appliquer lors du survol de l'élément */
    color: #7c898b;
  ;
    font-weight: 900;
  }
  
  .social-icons a:hover img {
    
    transform: scale(1.2);
  }
  
  .horoscope-simple span {
    display: inline;
    color: #7c898b;
    font-size: 3vw;
  }
  
h3{
  color: #b5838d;
  font-size: 4vw;
  margin-top: 10px;
}

.horoscope-simple{
  margin-left: 15px;
}

#citation-text{
  margin-left: 50px;
}
}