/* Image de fond pour les écrans étroits */
@media (min-width:390px) and (max-width: 810px) {

  

  body {
    
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url(../images/backMobileSans.png) no-repeat center center;
    background-size: cover;
    color: #7c898b;
  }


/* BURGER MENU */

.sidenav {
  height: 280px;
  width: 175px;
  position: fixed;
  border-radius: 20px 20px 20px 20px;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #e8e8e8;
  padding-top: 50px;
  transition: left 0.5s ease;
  text-align: center;
  opacity: 0.9;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Sidenav menu links */
.sidenav a {
  padding: 19px 54px 10px 32px;
  text-decoration: none;
  color: #7c898b;
  display: block;
  transition: 0.3s;
  font-weight: 600;
}

.sidenav a:hover {
  color: #111;
}
 /* Active class */
 .sidenav.active {
  left: 0;
  width: 100%;
  height: 350px;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: -27px;
right: -36px;
  font-size: 36px;
 
}

.burger-icon span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #7c898b;
  margin-top: 8px
}

.lettreRose {
  color: #b5838d;
}

/* FIN BURGER MENU */

/* LOGO */
.logo-taudis img {
  width: 47vmin;
  height: 23vmin;
  margin: 15px;
}

/* BUTTON */
.btn-contact {
 
  padding: 8px;
  border-radius: 12px;
  background-color: #b5838d;
  border: none;
  color: #efefef;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 38px 3px;
  margin-right: 18px;
  font-weight: 600;

}
/* FIN BUTTON */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

h1 {
  text-align: center;
  font-size: 7vmin;

}
.presentation{
 
    font-size: 3vmin;
    margin-left: 10px ;
    margin-right: 30px;
  text-align: justify;
  margin-bottom: 25px;
    
  }
  
  #join-us{
    display: flex;
      padding: 8px;
  border-radius: 12px;
  background-color: #b5838d;
  border: none;
  color: #efefef;
  font-weight: 600;  
  margin: auto;
  
  }

  #join-us:hover{
    transform: scale(1.2);
  }

  .social-icons img {
    width: 8vmin;
    margin-bottom: 12px;    
      margin-top: 30px
      
    }
    
  .social-icons{
display: flex;
text-align: center;
justify-content: center;

  }
  .social-icons a:hover img {
    
    transform: scale(1.2);
  }
  .btn-contact:hover {   
    transform: scale(1.2);
  }
}